  * {
            margin: 0px;
            padding: 0px;
        }
        
       img {
        width: 100vw;
        
        
        
        
       }

       a:hover {
        background-color: red;
       }
       a{
        padding: 15px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkred;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: -5px;
        text-align: center ;
       }
       ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}